<!DOCTYPE html>
<html>
<head>
  <title>PhotoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<p class="navbar-text pull-right container">
		<div class="row">
		<%= link_to posts_path do %>
   		<%= image_tag "http://bit.ly/1WH8xrm", class: "home two columns" %>
		<% end %>
	
		<% if user_signed_in? %>

			<%= link_to "New Post", new_post_path, :class => 'button new-post' %>

			<div class="options updating-font-stuff">
		  	Logged in as <strong class="links"><%= link_to "@" + current_user.email.split("@")[0], '/users/'+ current_user.id.to_s + '/posts', :class => 'navbar-link' %></strong> |
				
				<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link button' %> |
		  	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link button logout'  %>
	  	</div>
		<% else %>
			<div class="options">
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link button'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link button'  %>
			</div>
		<% end %>
		
		</div>
	
	</p>

	<%= yield %>

</body>
</html>
